body {
    padding-top: 70px;
}

footer {
    margin-top: 2em;
    padding-top: 1em;
    border-top: solid 1px rgba(255,255,255,.15)
}

.bio-block {
    margin-top: 2em;
}

.bio-block h2 {
    font-size: 170%;
}

.twitter-feed {
    margin-top: 3em;
}